.carousel {
  max-height: 300px;
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
}
.carousel > * {
  flex: 0 0 40%;
}
.carousel:hover .group {
  animation-play-state: paused;
}

.group {
  display: flex;
  will-change: transform;
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}
